/* Gerais*/
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

p,li {
    color:rgb(0, 0, 0);
    font-size: 14px;
}

/* barra Navegação */

header .navbar {
    background-color: #0b7bff;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

#navbar-brand:hover {
    color:#fff
}

#navbar-links a {
    color: #fff;
}


li a {
    font-size: 18px;
}

#bntlogin {
    color: white;
    text-decoration: none;
}
#bntlogin:hover {
    color: black;

}









  
