/* Gerais*/
html,
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.row {
    margin: 0;
}

p,li {
    color:#444;
    font-size: 14px;
}

/* barra Navegação */

header, .navbar {
    background-color: #0b7bff;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 100px;
    margin-left: 1rem;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

#navbar-brand:hover {
    color:#fff
}

#navbar-links a {
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

li a {
    font-size: 18px;
}


/* pagina de cadastro*/
#container {
    background-color: #0b7dff6e;
    margin-top: 4rem;
    border-radius: 10px;
}
input {
    margin: 0;

}

label {
    margin: 0;
}

/* pagina de serviços*/
.containerserviços {
    margin-top: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

#bntcomprar {
    color: white;
    text-decoration: none;
}
#bntlogin {
    color: white;
    text-decoration: none;
}
#bntlogin:hover {
    color: black;
    
}

