*{
    font-family: 'Inter', sans-serif;
}


input, button{
    margin: 10px 0px;
}

span{
    font-style: italic;
    font-size: 17px;
}

/*validacao input*/

.invalid{

    border: 2px solid rgb(248, 46, 46) !important; 
}

.valid{
    border: 2px solid rgb(49, 209, 49) !important;

}

/*icons*/

#valid{
    position: relative;
    right: 7px;
    visibility: hidden;
    color: rgb(49, 209, 49);
}

#invalid{
    position: relative;
    left: 15px;
    top: 2px;
    visibility: hidden;
    color: rgb(248, 46, 46);
}

/*conteudo*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conteudo2{
    width: 550px;
    padding: 100px;
    border: 2px solid #8e2424;
    border-radius: 10px;
    box-shadow: 7px 7px #8e2424;
}


#btn-recuperacaoSenha{
    background-color: #8e2424;
    transition: 0.5s;
}

#btn-recuperacaoSenha:hover{
    background-color: grey;
}